.gallery_card{
    display: flex;
    flex-direction: column;
    width: calc(100%/12*4.77);
    margin-top: 49px;
    margin-left: 20px;
    // border: 1px solid black;
    box-shadow: 0px 0px 10px gray;
    max-height: 763px;
    padding: 20px;
    box-sizing: border-box;
    img{
        max-width: 150px;
        max-height: 150px;
    }
    .gallery_btns{
        display: flex;
        flex-direction: column;
        line-height: 0;
        gap: 7px;
        width: 120px;
        h2{
            display: flex;
            margin-bottom: 30px;
            width: 100vw;
            height: auto;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 30px;
            margin: 10px 0;
            background: red;
            clip-path: polygon(11% 0, 100% 0, 100% 36%, 100% 67%, 90% 100%, 0 100%, 0 35%);
        }
    }
}
.gallery_descr{
    display: flex;
}
.gallery_header{
    display: flex;
    gap: 20px;
}
.comics_list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    li{
        box-shadow: 2px 4px 5px grey;

    }
}