@font-face {
    font-family: RobotoCondensed;
    src: url(../../fonts/Roboto-Condensed.ttf);
}

@font-face {
    font-family: RobotoCondensedBold;
    src: url(../../fonts/Roboto-BoldCondensed.ttf);
}